button.button {
    padding: 0.4375rem 1.625rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.25s;
}

button.button:hover {
    opacity: 0.8;
}

button.button.link {
    background-color: #525252;
    color: var(--app-color-primary-white);
}

.button.circle {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.circle i {
    font-size: 24px;
}

button.button.primary {
    background: #005888;
}

button.button.white {
    background: #fff;
    color: #005888;
}

button.button.white-1 {
    background: #F2F2F2;
    color: #005888;
}

button.button.grey {
    background: #F2F2F2;
    color: #005888;
}

button.button.outline-dark {
    background: transparent;
    color: #6B6B6B;
    border:1px solid #6B6B6B;
}

button.button.lg {
    background: #005888;
    padding: 15px 69px;
    font-size: 20px;
}
button.button-option{
    background: rgb(218, 232, 239);
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgb(49, 47, 48);
    border: none;
    margin-bottom: 20px;
}


/* BUTTON QUANTITY */
.button-quantity button.button {
    width: 32px ;
    height: 32px ;
    padding: 0;
}

.button-quantity button.button i {
    font-size: 16px;
}

.button-quantity input {
    width: 85px;
    border: 0;
    text-align: center;
    background: transparent;
}