table{
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}
.table.pl-0 td {
    padding: 0 2rem 0 0;
}
.table.no-border td {
    border: none !important;;
}