.get-instant-quote-form label {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #312F30
}

.get-instant-quote-form label:has(sub) {
    position: relative;
}

.get-instant-quote-form sub {
    position: absolute;
    right: -20px;
    top: 0;
    font-size: 1rem;
}


.get-instant-quote-form .form-children label {
    font-weight: 500;
    line-height: 19px;
    color: #6B6B6B;
    font-size: 1rem;
}

.get-instant-quote-form .form-control, .get-instant-quote-form .form-select {
    color: #000000;
    font-weight: 500;
    background-color: #FBFBFB;
    border: 1px solid #E7EAEF;
    border-radius: 5px;
    padding: 0.75rem;
}

.get-instant-quote-form .button[type="submit"] {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    padding: 1rem;
}

.get-instant-quote-form  .form-range::-webkit-slider-thumb {
    background: #005888;
}

.get-instant-quote-form  .form-range::-ms-thumb {
    background: linear-gradient(270deg, #9ABFD2 0%, rgba(177, 207, 223, 0.37) 100%);
}

.get-instant-quote-form  .form-range::-webkit-slider-runnable-track {
    background: linear-gradient(270deg, #9ABFD2 0%, rgba(177, 207, 223, 0.37) 100%);
}



